.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  
}
.App button{
  border: 0;
  padding: 8px 12px;
  margin-right: 8px;
  border-radius: 5px;  
  background-color: rgb(73, 204, 209);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.App button:hover {
  transform: scale(1.1,1.1);
}
